header{
    color: black;
}
div{
    border: solid 2px black;
    border-radius: 3px;
    width: 350px;
    height: 500px;
    background-color: azure;
}
p{
    text-align: center;
}
img{
    width: 350px;
    height: 300px;
}
footer{
    background-color: grey;
    color: white;
    height: 27px;
    border-radius: 3px;
}